APP_NAME=CampusCloud
APP_ENV=local
APP_KEY=base64:tIsNemE2+adC0gYrelyw8hDdk1nornuoMu8G+Tzbigc=
APP_DEBUG=true
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173

LOG_CHANNEL=stderr
LOG_LEVEL=debug

DB_CONNECTION=sqlsrv
DB_HOST=DESKTOP-DRIA144\SQLEXPRESS
DB_PORT=
DB_DATABASE=campuscloud
DB_USERNAME=campuscloud_user
DB_PASSWORD=Campus@123
